:root {
  --primary-color: rgb(255, 227, 226);
  --header-height: 80px;
}

body,
h3,
h2,
p,
ul {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Akzidenz";
  src: url("../../public/Akzidenz-grotesk-light.ttf") format("woff2");
}

@font-face {
  font-family: "Akzidenz-roman";
  src: url("../../public/Akzidenz-grotesk-roman.ttf") format("woff2");
}

* {
  font-family: "Akzidenz", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: var(--header-height);
}

.header__title {
  font-size: 2em;
  color: rgb(112, 112, 112);
}

.home__container {
  height: 100%;
  background-color: var(--primary-color);
  padding-inline: 20%;
}

.productCount__container {
  padding-block: 30px;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(113, 113, 113);
  width: 100vw;
  height: 60px;
}

@media only screen and (max-width: 1300px) {
  .home__container {
    padding-inline: 10%;
  }
  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .home__container {
    padding-inline: 5%;
  }
  .gallery__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
